.line1{
    background-color: #b60808;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-bottom: 100px;
}

.line2{
    display: flex;
    justify-content: center;
    background-color: #08087c;
    padding: 100px;
}
.line2 .circle{
    display: flex;
    text-align: center;
    justify-content: center;
    
    background-color: #fff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.line2 .circle h1{

    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #111;
    
}
.line3{
    background-color: #b60808;
    padding: 80px;
}